body {
    margin: 0;
    padding: 20px;
    background: rgb(231, 231, 231);
}

.full-page {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    gap: 12px;
    flex-direction: row;
}

.main-page {
    width: 100%;
    max-width: 570px;
    height: 640px;
    background-image: url(../img/bg-img.jpg);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.main-page-content {
    padding: 55px 60px;
    flex-grow: 1;
}

.course-name {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 41px;
    /* background: rgba(255, 255, 255, 0); */
    opacity: 0.8;
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 5px 12px;
}

.content-header {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 25px;
    /* width: 390px; */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.content-text {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.sale-footer {
    height: 80px;
    border-radius: 0px 0px 20px 20px;
    background: rgb(77, 196, 144);
    text-align: center;
}

.sale-link {
    text-decoration: none;

}

.sale-text {
    display: inline-block;
    margin-top: 29px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
}

.sign-up-page {
    box-sizing: border-box;
    width: 100%;
    max-width: 570px;
    height: 640px;
    padding: 55px 60px 40px;
    background-color: white;
    border-radius: 20px
}

.singup-page-heading {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}

.singup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 65px;
}

.singup-input-field {
    border: 0;
    height: 33px;
    color: rgb(85, 85, 85);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.singup-input-field:focus {
    color: black;
    font-weight: 600;
}

.singup-submit {
    padding: 20px 149px;
    border: 0;
    border-radius: 10px;
    background: rgb(101, 90, 242);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 8px;
}

.footer-text {
    margin: 0;
    text-align: center;
    color: #555555;
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
}

.terms-services {

    color: #F03535
}